<h1 class="test">Liste de cours pour la matiere: <strong>{{mySubjectVal}} </strong></h1>

<div *ngFor="let item of data">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <mat-list>
          <h2>{{item.name}}</h2>
          <mat-list-item>
            <mat-icon>add_circle_outline </mat-icon>
            <h4> {{item.type}}</h4>
          </mat-list-item>
        </mat-list>
   

        <button [disabled]="disabled"
                class="button download"
                [ngClass]="{'disabled': disabled}"
                (click)="download()">
          download
        </button>
        <button [disabled]="disabled" [ngClass]="{'disabled': disabled}" class="button upload" (click)="inputFile.click()">
          UPLOAD
        </button>
        <input name="file" id="file" (change)="upload($event)" type="file" #inputFile hidden>


</div>
  </div>
</div>

