<h1 class="test">Liste de cours pour la matiere: <strong>{{mySubjectVal}} </strong></h1>


<div class="card">
  <div class="card-body">
    <p class="card-text">
      <mat-list>
        <h2>cours 1</h2>
        <mat-list-item>
          <mat-icon>add_circle_outline </mat-icon>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </mat-list-item>
        <hr>
        <h2>cours 2</h2>
        <mat-list-item>
          <mat-icon>add_circle_outline ornare. </mat-icon>
          Donec id ullamcorper mi. Quisque auctor hendrerit fringilla.
        </mat-list-item>
        <hr>
        <h2>cours 3</h2>
        <mat-list-item>
          <mat-icon>add_circle_outline ornare. </mat-icon>
          Non porta felis. Pellentesque accumsan quam eget odio.
        </mat-list-item>
      </mat-list>
    </p>
    <button type="button" class="btn btn-primary">Button</button>
  </div>
</div>
