<mat-toolbar *ngIf="isLoggedIn$ | async ">
  <mat-toolbar-row class="couleur">
    <h6 class="titre" (click)=redirection()>
      ID STORE
    </h6>

    <div *ngIf="adminMode" style="margin-left:65%;">
      <button (click)="openDialogAddCours()" mat-raised-button style="background-color:black; color:white; margin-right:20px"
              matBadgePosition="before" matBadgeColor="accent">
        Ajouter un cours
      </button>
      <button mat-raised-button style="background-color:black; color:white"
              matBadgePosition="before" matBadgeColor="accent" (click)="navigatToAdmin()">
        Panel Administrateur
      </button>
    </div>
      </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container autosize class="example-container" style="height:96vh" *ngIf="isLoggedIn$ | async">
  <mat-sidenav class="couleurdefond" #drawer mode="side" opened role="navigation">
    <form>
      <mat-form-field appearance="fill">
        <mat-label style="color: white;">Choix de la classe</mat-label>
        <mat-select [(ngModel)]="selectedValue" (ngModelChange)="sendClasseValue($event)" name="classe">
          <mat-option *ngFor="let classe of classes" [value]="classe.nom">
            {{classe.nom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div *ngIf="selectedValue=== 'B1'">
      <mat-nav-list>

        <a class="couleurdetexte" (click)="displayReflexion()" mat-list-item><h2>Reflexion</h2></a>
        <div *ngIf="reflexion">
          <div *ngFor="let item of reflexionB1">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayDeveloppement()" mat-list-item><h2>Developpement</h2></a>
        <div *ngIf="developpement">
          <div *ngFor="let item of developpementB1">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayFonctionnement()" mat-list-item><h2>Fonctionnement</h2></a>
        <div *ngIf="fonctionnement">
          <div *ngFor="let item of fonctionnementB1">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayEnvironnement()" mat-list-item><h2>Environnement</h2></a>
        <div *ngIf="environnement">
          <div *ngFor="let item of environementB1">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayExperience()" mat-list-item><h2>Experience Pro</h2></a>
        <div *ngIf="experience">
          <div *ngFor="let item of proB1">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayPratique()" mat-list-item><h2>Pratique</h2></a>
        <div *ngIf="pratique">
          <div *ngFor="let item of pratiqueB1">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>
      </mat-nav-list>
    </div>

    <div *ngIf="selectedValue=== 'B2'">
      <mat-nav-list>

        <a class="couleurdetexte" (click)="displayReflexion()" mat-list-item><h2>Reflexion</h2></a>
        <div *ngIf="reflexion">
          <div *ngFor="let item of reflexionB2">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayDeveloppement()" mat-list-item><h2>Developpement</h2></a>
        <div *ngIf="developpement">
          <div *ngFor="let item of developpementB2">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayFonctionnement()" mat-list-item><h2>Fonctionnement</h2></a>
        <div *ngIf="fonctionnement">
          <div *ngFor="let item of fonctionnementB2">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayEnvironnement()" mat-list-item><h2>Environnement</h2></a>
        <div *ngIf="environnement">
          <div *ngFor="let item of environementB2">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayExperience()" mat-list-item><h2>Experience</h2></a>
        <div *ngIf="experience">
          <div *ngFor="let item of proB2">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayPratique()" mat-list-item><h2>Pratique</h2></a>
        <div *ngIf="pratique">
          <div *ngFor="let item of pratiqueB2">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>
      </mat-nav-list>
    </div>



    <div *ngIf="selectedValue=== 'B3'">
      <mat-nav-list>

        <a class="couleurdetexte" (click)="displayReflexion()" mat-list-item><h2>Reflexion</h2></a>
        <div *ngIf="reflexion">
          <div *ngFor="let item of reflexionB3">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayDeveloppement()" mat-list-item><h2>Developpement</h2></a>
        <div *ngIf="developpement">
          <div *ngFor="let item of developpementB3">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayFonctionnement()" mat-list-item><h2>Fonctionnement</h2></a>
        <div *ngIf="fonctionnement">
          <div *ngFor="let item of fonctionnementB3">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayEnvironnement()" mat-list-item><h2>Environnement</h2></a>
        <div *ngIf="environnement">
          <div *ngFor="let item of environementB3">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayExperience()" mat-list-item><h2>Experience</h2></a>
        <div *ngIf="experience">
          <div *ngFor="let item of proB3">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayPratique()" mat-list-item><h2>Pratique</h2></a>
        <div *ngIf="pratique">
          <div *ngFor="let item of pratiqueB3">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>
      </mat-nav-list>
    </div>

    <div *ngIf="selectedValue=== 'M1'">
      <mat-nav-list>

        <a class="couleurdetexte" (click)="displayReflexion()" mat-list-item><h2>Reflexion</h2></a>
        <div *ngIf="reflexion">
          <div *ngFor="let item of reflexionM1">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayDeveloppement()" mat-list-item><h2>Developpement</h2></a>
        <div *ngIf="developpement">
          <div *ngFor="let item of developpementM1">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayFonctionnement()" mat-list-item><h2>Fonctionnement</h2></a>
        <div *ngIf="fonctionnement">
          <div *ngFor="let item of fonctionnementM1">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayEnvironnement()" mat-list-item><h2>Environnement</h2></a>
        <div *ngIf="environnement">
          <div *ngFor="let item of environementM1">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayExperience()" mat-list-item><h2>Experience</h2></a>
        <div *ngIf="experience">
          <div *ngFor="let item of proM1">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayPratique()" mat-list-item><h2>Pratique</h2></a>
        <div *ngIf="pratique">
          <div *ngFor="let item of pratiqueM1">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>
      </mat-nav-list>
    </div>

    <div *ngIf="selectedValue=== 'M2'">

      <mat-nav-list>

        <a class="couleurdetexte" (click)="displayReflexion()" mat-list-item><h2>Reflexion</h2></a>
        <div *ngIf="reflexion">
          <div *ngFor="let item of reflexionM2">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayDeveloppement()" mat-list-item><h2>Developpement</h2></a>
        <div *ngIf="developpement">
          <div *ngFor="let item of developpementM2">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayEnvironnement()" mat-list-item><h2>Environnement</h2></a>
        <div *ngIf="environnement">
          <div *ngFor="let item of environementM2">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayExperience()" mat-list-item><h2>Experience</h2></a>
        <div *ngIf="experience">
          <div *ngFor="let item of proM2">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>

        <a class="couleurdetexte" (click)="displayPratique()" mat-list-item><h2>Pratique</h2></a>
        <div *ngIf="pratique">
          <div *ngFor="let item of pratiqueM2">
            <a style="color: rgb(255, 255, 255); margin-left: 10px;" (click)="sendTextValue(item.matiere)"
               mat-list-item>
              <div>
                <H4>{{ item.matiere }}</H4>
              </div>
            </a>
          </div>
        </div>
      </mat-nav-list>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>
  </mat-sidenav-content>



</mat-sidenav-container>
