<div style="background-color:black; height:100%;">

  <div style="margin-left:40%;">
    <img src="../../assets/logo-carre-2.png" style="width:20%; position: absolute;">
  </div>

  <div class="container">
    <div class=" shadow-lg p-3 mb-5 bg-white rounded centered" style="margin-top:50%;">
      <div style="font-size:xx-large; color:black">Page d’authentification</div>
      <div class="form">
        <form>
          <div style="margin-top: 10%;">
            <div style="font-size:medium; color:black">Nom d’utilisateur</div>
            <input type=text [(ngModel)]=login name=login>
          </div>
          <div style="margin-top: 40px;">
            <div style="font-size:medium; color:black">Mot de passe</div>
            <input type=password [(ngModel)]=password name=password>


            <div class="bouton">
              <button type="button" class="login100-form-btn" (click)="handleLogin(login)">Se connecter</button>
            </div>
          </div>
          <div [hidden]="erreur">Identifiants incorrects</div>
        </form>
      </div>
    </div>
  </div>
</div>
