<h2 style="width: 600px"> Modification de titre <mat-icon color="warn">warning</mat-icon> </h2>

<div class="form-group">
  <label>Entrer un nouveau nom pour le cours</label>
  <input type="text" class="form-control" id="name"
         required
         [(ngModel)]="data.name" name="name">
</div>



<mat-dialog-actions style="margin-top:15px;">
  <button mat-button mat-dialog-close (click)="test(data.name)">Confirmer</button>
  <button mat-button mat-dialog-close mat-dialog-close="false"> Annuler</button>
</mat-dialog-actions>

<h2 class="test"> Modification de contenu <mat-icon color="warn">warning</mat-icon> </h2>

<div class="form-group">
  <div class="form-group">
    <label for="file">Chosir un nouveau fichier</label>
    <input type="file" id="file" (change)="handleFileInput($event.target.files)" />
  <button mat-raised-button color="primary" mat-dialog-close (click)="uploadFileToActivity()">Envoyer le nouveau contenu</button>
  </div>
</div>


