<mat-accordion style="    margin: 0 auto;    width: 300px;">
  <mat-expansion-panel style="width:600px;" hideToggle>
    <mat-expansion-panel-header>
      <h2>  Ajouter un Tag   <mat-icon color="red">add</mat-icon></h2> 
            
    </mat-expansion-panel-header>
    <mat-card>
      <form>
        <div class="form-group">
          <label>Nom :</label>
          <input type="text" class="form-control" id="tagName"
                 required
                 [(ngModel)]="this.newTagName" name="tagName">
          <label>Description :</label>
          <input type="text" class="form-control" id="tagDesc"
                 [(ngModel)]="this.desc" name="tagDesc">
          <button mat-button (click)="AddTag(this.newTagName, this.desc)" color="#b40b0b">
            Valider
          </button>
        </div>
      </form>
    </mat-card>
  </mat-expansion-panel>

</mat-accordion>

<div style="margin-top:50px;" *ngFor="let item of Tags">
  <div class="card  rcorner3" style="margin: 0 auto;">
    <div class="card-body">
      <p class="card-text" >
        <mat-list style="margin-bottom:40px;">


          <h1 mat-raised-button class="centrer"
              matTooltip="{{item.description}}"
              aria-label="Button that displays a tooltip when focused or hovered over"
            style="text-align:center"> {{item}}
          </h1>
         
        </mat-list>
    </div>
  </div>
</div>


