<form>
  <mat-form-field appearance="fill">
    <mat-label style="color: white;">Choix de la classe</mat-label>
    <mat-select [(ngModel)]="selectedValue" (ngModelChange)="sendClasseValue($event)" name="classe">
      <mat-option *ngFor="let classe of classes" [value]="classe.nom">
        >
        {{classe.nom}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label style="color: white;">Choix de la Matiere</mat-label>
    <mat-select [(ngModel)]="selectedValue" (ngModelChange)="sendClasseValue($event)" name="classe">
      <mat-option *ngFor="let classe of classes" [value]="classe.nom">
        >
        {{classe.nom}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

