<form>
  <mat-form-field appearance="fill">
    <mat-label style="color: white;">Choix de la classe</mat-label>
    <mat-select [(ngModel)]="selectedValue" (ngModelChange)="sendClasseValue($event)" name="classe">
      <mat-option *ngFor="let classe of classes" [value]="classe.nom">
        >
        {{classe.nom}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label style="color: white;">Choix de la Matiere</mat-label>
    <mat-select [(ngModel)]="selectedValue" (ngModelChange)="sendClasseValue($event)" name="classe">
      <mat-option *ngFor="let classe of classes" [value]="classe.nom">
        >
        {{classe.nom}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>


<div style="margin-bottom:15px;">
  <div>
    <input type="file" #file placeholder="Choose file" (change)="UpdateFile(data.name,file.files)" style="display:none;">
    <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
  </div>
  <div>
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
</div>
