<div style="margin-top:200px;background-color: black; height:100%; color:white; width:100%; margin:auto; text-align:center">
  <div style="margin: 0 auto; ">
    <h1>Bienvenue sur le portail des cours et ressources de CampusID.</h1>
    <h1>BESOIN DU COURS ?</h1>
    <h1>Trier par niveau et par matiére, vous retrouverez ici tout les documents, ressource et support de cours auquel vous assister.</h1>

    <div style="margin-right:25%;">
      <img src="../../assets/logo-carre-2.png" style="width:20%; position: absolute;">
    </div>
  </div>
</div>
